/* Style the tab */
:root {
  --primary: #314D5D;
  --star_color: #F0CC4C;
  --gray:#D9D9D9;
}

body {
  font-size: large;
  background-color: #F6F7F8;
}

/* Style the h4s inside the tab */
img {
  display: block;
}
#anuncio{     
  color: white;
  padding: 10px 1rem;
}
.link-card{
  text-decoration: none;
}
#logo {
  width: 5rem;
}

main {

  min-height: calc(100vh - 10rem);
  margin-top: 5rem;
}

.card {
  border: none;
  border-radius: 20px;
  padding: 0;
}

.card-text {
  text-align: justify;
}

.card-body {
  background-color: var(--primary);
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100%;
}

#localizacaoImagem {
  width: 2rem;
}

.card-avaliacao{
  background-color:white;
}
.estrelas-perfil{
  background-color: var(--primary);
  border-radius: 5px;
}
.header-perfil{
  height: 10rem;
}
.titulo-perfil{
  font-size: 5rem;
  color: var(--primary);
}
#nome-logo-escola{
  font-size: 2rem;
  color: var(--primary);
  text-transform: capitalize;
  text-align: center;
}
#logo-escola{
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background-color: var(--gray);
  background-repeat: no-repeat;
  background-size: cover;
}
.star-icon {
  color: #ddd;
  font-size: 2em;
  position: relative;
}

.star-icon.full:before {
  text-shadow: 0 0 2px rgba(0,0,0,0.7);
  color: #FDE16D;
  content: '\2605'; /* Full star in UTF-8 */
  position: absolute;
  left: 0;
}

.star-icon.half:before {
  text-shadow: 0 0 2px rgba(0,0,0,0.7);
  color: #FDE16D;
  content: '\2605'; /* Full star in UTF-8 */
  position: absolute;
  left: 0;
  width: 50%;
  overflow: hidden;
}

@-moz-document url-prefix() { /* Firefox Hack :( */
.star-icon {
  font-size: 50px;
  line-height: 34px;
}
}

.tab h4 {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of h4s on hover */
.tab h4:hover {
  background-color: #f3f3f3;

}

/* Create an active/current tablink class */
.tab h4.active {
  border-bottom: 1px solid var(--primary)
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

.footer-icon {
  width: 4rem;
}

.card-footer li {
  list-style-type: none;
}

.card-footer li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  display: inline-block;
  margin-left: 3px;
}